.container {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 200px 200px;
    row-gap: 50px;
    column-gap: 100px;
}
.box {
    background-color: purple;
    height: 300px;
    width: 200px;
}
