.container {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows:100vh;
  }
  .box {
      padding: 15px;
      color: white;
      font-size: 60px;
  }
  .box.b1 {
    background-color: red;
  }
  .box.b2 {
    background-color: blue;
  }
  .box.b3 {
    background-color: green;
  }
  body {
      margin: 0;
  }