:root {
    font-family: cursive;
}
header {
    position: fixed;
    top:0;
    left:0;
    background-color: plum;
    width: 100vw;
    z-index: 10;
}
main {
    margin-top: 100px;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
    height: 10vh;
}
.parent {
    width: 200px;
    height: 300px;
    background-color: blue;
    position: relative;
}
.child {
    width: 70px;
    height: 70px;
    background-color: yellow;
    position: absolute;
    top: 30px;
    left: 40px;
}
img {
    display: none;
}
@media (max-height: 500px) {
    img {
        display: block;
    }
}