.container {
    display: grid;
}
.box {
    width: 1fr;
    height: 100px;
}.box.b1 {
    background-color: blue;
}.box.b2 {
    background-color: red;
}.box.b3 {
    background-color: greenyellow;
}.box.b4 {
    background-color: red;
}.box.b5 {
    background-color: blue;
}.box.b6 {
    background-color: greenyellow;
}

